*{
margin:0p;
padding: 0;

}

.navbar{
    padding: 0px 40px ;
    height: 60px;
    display: flex;  
}
.body{
background-color: white;
height: 90vh;
width: 100%;
padding:20px
    
}
.nav-contents{
    list-style-type: none;
    display: flex;
    margin-left: 40px;
}
.searchbar{
    margin-left: 10%;
}
.nav-account{
    right: 10px;
}
.custom-btn{
    color: black;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.custom-btn:hover{
    background-color: gray;
    color: white;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}
